* {
    box-sizing:border-box;
    margin: 0;
}
/* main background for the web */
body{
    background: linear-gradient(#FB3640, #1D3461);
    margin: 0px !important;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}
/* navigation bar at the very top */
nav {
    position: fixed;
    display: flex;
    width: 100vw;
    background-color: #e0e0e0;
    height: 50px; 
    justify-content: space-between;
    align-items: center;
}
nav p {
    margin-left: 20px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    color: #FB3640;
}

nav ul {
    list-style-type: none;
    font-family: Helvetica;
    font-weight: bold;
}
nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 60px;
    font-size: 16px;
    color: #FB3640;
    transition: transform 0.2s ease;
}

/*the little square beside the text*/
nav ul li::after {
    content: "";

    position: absolute;

    width: 10px;
    height: 10px;
    background: #1D3461;

    right: -25px;
    top: 50%;

    transform: translateY(-50%) rotate(0);
    opacity: 0;
    transition: transform 0.3s ease, transform 0.3s ease;
}

nav ul li:hover::after {
    transform: translateY(-50%) rotate(45deg);
    opacity: 1;
}

nav ul li:hover {
    color: #1D3461;
    transform: translateX(-10px);
}

/*contact section stuck to the vp*/
.contacts {
  position: fixed;
  display: inline-block;
  top: 50vh;
  right: 30px;
}

.contacts ul {
  list-style-type: none;
}

.contacts ul li {
  margin-bottom: 30px;
  position: relative;
  font-size: 2em;
}

.contacts ul li span {
  display: inline-block;
  transition: transform 0.2s ease;
  color: rgba(190, 190, 190, 0.533);
}

.contacts ul li::after {
  content: "";

  width: 10px;
  height: 10px;

  position: absolute;
  background: rgba(190, 190, 190, 0);

  right: -10px;
  bottom: 25%;

  transform: rotate(0deg);


  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Hover the stationary <li> */
.contacts ul li:hover span {
  transform: translateX(-10px);
  color: rgb(190, 190, 190);
}

.contacts ul li:hover::after {
  transform: rotate(45deg);
  background: rgb(190, 190, 190);
}
/* this is for the big WELCOME to my PORTFOLIO text */
.opening-text {        
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;
}

.opening-text p {
    text-align: center;
    color: #e0e0e0;
    font-size: 50px;
}
/* the hero section w/introduction */
.hero {
     height: 700px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     flex-direction: column;
}
.hero h1 {
    color: #FB3640;
    font-size: 3em;
    font-family: Helvetica;
    text-align: center;
}
.hero h2 {
    color: #e0e0e0;
    font-family: Helvetica;
    font-size: 2em;
}
.hero p {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: justify center;
    max-width: 600px;
    color: #e0e0e0;
    font-size: 1em;
}



 
